{% extends './layouts/default.html' %}

{% block content %}
<div class="col-lg-12 mx-auto mt-5 markdown-body">
    
    <h1 id="me"><strong>{{ request.session.profile.name }}</strong></h1>
    <p>
        {% if profile.current_position %}
        <span>{{ profile.current_position|safe }}</span>
        {% endif %}
        <ul>
            {% if profile.email %}
            <li>Email: <a href="mailto:{{ profile.email }}">{{ profile.email }}</a></li>
            {% endif %}
            {% if profile.phone %}
            <li>Phone: <a href="tel:{{ profile.phone }}">{{ profile.phone }}</a></li>
            {% endif %}
            {% if other_profiles %}
            <li>
                {% for other_profile in other_profiles %}
                <a class="other-profile" href="tel:{{ other_profile.url }}">{{ other_profile.title }}</a>
                {% if not forloop.last %} / {% endif %}
                {% endfor %}
            </li>
            {% endif %}
        </ul>
    </p>
    
    {% if profile.bio %}
    <br>
    <h3 id="about-me"><strong>About Me</strong></h3>
    <p>{{ profile.bio|safe }}</p>
    {% endif %}

    {% if keywords %}
    <br>
    <h3 id="keyword"><strong>Keywords</strong></h3>
    <p class="card-text">
        {% for keyword in keywords %}
        <span class="badge badge-dark">{{ keyword.name }}</span>
        {% endfor %}
    </p>
    {% endif %}

    {% if featured_call_to_action %}
    <br>
    <aside class="post card border-danger">
        <div class="card-body">
            <h4 class="card-title">
                {{ featured_call_to_action.title }}
            </h4>
            <p class="card-text">
                {{ featured_call_to_action.content|safe }}
            </p>
        </div>
    </aside>
    {% endif %}

    {% if experiences %}
    <br>
    <h3 id="experience"><strong>Employment & Internships History</strong></h3>
    <div class="timeline-body bg-themed">
        {% for experience in experiences%}
        <div class="timeline-item">
            <div class="content">
                <h2>{{ experience.position }}</h2>
                <h6 class="employer">
                    {{ experience.employer }}
                    {{ experience.employer.city|default:'-' }} ({{ experience.employer.country|default:'-' }})
                </h6>
                <br>
                <h6 class="date">{{ experience.start_date|date:'m/Y' }} - {% if experience.end_date %} {{ experience.end_date|date:'m/Y' }} {% else %} PRESENT {% endif %}</h6>
                {% autoescape off %}
                <p>{{ experience.job_description }}</p>
                {% endautoescape %}
                <p>
                {% for keyword in experience.keywords.all %}
                <span class="badge badge-dark">{{ keyword.name }}</span>
                {% endfor %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if educations %}
    <!-- TODO: Add date and icon ? -->
    <br>
    <h3 id="education"><strong>Education</strong></h3>
    <ul>
        {% for education in educations %}
        {% spaceless %}
        <li class="mt-3">
            <strong>{{ education.degree }}</strong> {% if education.course %} in <strong>{{ education.course }}</strong> {% endif %} from {% for host in education.hosts.all %}{% if forloop.first %}{% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}<a href="{{ host.url|default:'#' }}">{{ host.name }}</a>{% endfor %}. {{ education.description|safe }}
        </li>
        {% endspaceless %}
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if skills %}
    <br>
    <h3 id="skill"><strong>Skills</strong></h3>
    <div class="row">
        {% regroup skills by skill_type as skill_types %}
        {% for skill_type in skill_types %}
        <div class="col-lg">
            <h4 class="mb-3">{{ skill_type.grouper.name }}</h4>
            {% for skill in skill_type.list %}
            <div class="row justify-content-between align-items-center">
                <div class="col-10">
                <p class="mb-1">{{ skill.name }}</p>
                </div>
                <div class="col-2 text-right">
                <p class="mb-1 text-muted">{{ skill.level }}%</p>
                </div>
            </div>
            <div class="progress mb-4 bg-themed">
                {% if progress_backgrounds_list %}
                <div class="progress-bar {{ progress_backgrounds_list|random }} wow slideInLeft animated" data-wow-delay="0.05" role="progressbar" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100"></div>
                {% else %}
                <div class="progress-bar bg-danger wow slideInLeft animated" data-wow-delay="0.05" role="progressbar" aria-valuenow="{{ skill.level }}" aria-valuemin="0" aria-valuemax="100"></div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock content %}