{% extends './layouts/default.html' %}
{% load web_tags %}

{% block content %}
<!-- TODO: Implement Services and Supervision -->
<div class="col-lg-12 mx-auto mt-5 markdown-body">
    {% if services %}
    <h3 id="selected-services"><strong>Selected Services</strong></h3>
    {% regroup services|dictsort:"service_type.priority" by service_type as service_types %}
    {% for service_type in service_types %}
    <h5 id="service-type" class="mt-5"><strong>{{ service_type.grouper.name }}</strong></h5>
    <div class="row">
        {% for service in service_type.list %}
        <div class="wow col-md-4 col-sm-12 col-xs-12 fadeIn animated" data-wow-delay=".15s">
            <a href="{{ service.url|default:'#' }}" class="project d-block card course-card text-themed">
                {% if service.image %}
                <div class="card-top">
                    <img class="card-img-top" src="{{ service.image.url }}" alt="">
                </div>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">
                        <ul class="fa-ul">
                            <li class="mb-3 text-themed">
                                <span class="fa-li"><i class="far fa-dot-circle"></i></span>
                                <span class="service-title">
                                    {{ service.title }}
                                </span>
                            </li>
                        </ul>
                    </h5>
                    
                    {% if service.description %}
                    <p class="card-text">
                        <small class="service-description">{{ service.description|safe }}</small>
                    </p>
                    {% endif %}
                    
                    {% if service.occurrences %}
                    <p class="card-text">
                        {% for occurrence in service.occurrences %}
                        <span class="badge badge-dark">{{ occurrence.start_date|str_date_format:'Y' }}</span>
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}